body {
  background-color: #f6f9fa;
  &::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 10px;
    &-thumb {
      width: 10px;
      border-radius: 13px;
      background-clip: padding-box;
      border: 2px solid transparent;
      background: rgb(221, 219, 219);
    }
  }
}
.project {
  background-color: #f2f4fb;
  font-family: poppins;
  width: 375px;
  height: 812px;
  @media (max-width: 374px) {
    width: 275px;
  }
  @media (max-height: 811px) {
    height: 640px;
  }
  @media (max-height: 600px) {
    height: 500px;
  }
  .active {
    background-color: white;
    color: #17181a;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.05);
  }
  .btns:hover {
    background-color: white;
    color: #17181a;
  }
  &black-color {
    color: #17181a;
  }
  &__header {
    color: #06070d;
  }
  &__card {
    &-button1 {
      background-color: #5457f4;
      &:hover {
        background-color: #0b0eec;
      }
    }
    &-button2 {
      background-color: #44c8d7;
      &:hover {
        background-color: #3b9aa5;
      }
    }
  }
  .edit {
    display: none;
  }
  .add {
    left: 144px;
    @media (max-width: 374px) {
      left: 100px;
    }
  }
  .nav-bar {
    width: 375px;
    height: 72px;
    @media (max-width: 374px) {
      width: 275px;
    }
  }
  div {
    svg {
      &:hover {
        stroke: #5457f4;
        opacity: 2;
      }
      &:hover {
        fill: #5457f4;
        opacity: 2;
      }
      path {
        &:hover {
          stroke: #5457f4;
          opacity: 2;
        }
        &:hover {
          fill: #5457f4;
          opacity: 2;
        }
      }
    }
  }
}
